* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1,
h2,
h3 {
  color: black;
  font-family: Raleway;
}

@import "bootstrap/scss/bootstrap-grid";
